@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

[data-theme="dark"]{
    --white: #000;
    --dark: #fff;
}
:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #000;
    --blue: rgb(17, 124, 138);
}
body {
    min-height: 100vh;
    background-color: var(--white);
    transition: 0.8s;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    transition: all 0.5s;
    position: fixed;
    font-family: "Poetsen One";

}
.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
    
}
.logo span{
    color: var(--dark);
}
.navigation ul {
    display: flex;
    text-align: center;
    gap: 3rem;
}
.navigation ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover {
    color: var(--red);
    border-bottom: 1px solid var(--red);
    margin-bottom: 10%;
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}


.menu {
    cursor: pointer;
    display: none;
}
.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background:var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: var(--red);
}
.home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    font-family: "Noto Serif";
    
}
.home-text {
    max-width: 37rem;
}
.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p {
    margin-bottom: 4rem;
}
.home-btn {
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
.home-btn:hover {
    background: #fc4c35;
}
.home-img img {
    width: 100%;
}
@media (max-width: 785px) {
.navigation {
        padding: 18px 20px;
}
.menu {
        display: block;
}
.menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.menu.ativo .bar:nth-child(2) {
    opacity: 0;
}
.menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
}
.nav-menu.ativo {
    right: 0;
}
.nav-item {
    margin: 16px 0;
}
.home {
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
}
.home .text-h4 {
    font-size: 15px;
}
.home .text-h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}
.home p {
    font-size: 15px;
}
.home-img {
    width: 100%;

}
}
.trilho{
    width: 60px;
    height: 30px;
    background: #4d4d4d;
    border-radius:20px;
    position: relative;
    cursor: pointer;
    
}
.trilho .indicador {
    width: 28px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    transform: scale(0.8);
    position: absolute;
    left: 0;
    transition: 0.5s;
    /*transition: all 0.8s;*/
}
.trilho.dark {
    background: #c3c3c3;
}
.trilho.dark .indicador {
    left: 32px;
    background-color: #fff;
    /*transition: all 0.8s;*/
}

body.dark {
    background: #050101;
    
}
body.dark .logo {
    color: var(--blue);
    transition: 0.8s;
}
body.dark .logo span {
    color: #c3c3c3;
    transition: 0.8s;
}
body.dark .navigation ul li a {
    color: #c3c3c3  ;
    transition: all 0.5s;
    transition: 0.8s;
}
body.dark .navigation ul li a:hover {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    transition: 0.8s;
    
}
body.dark .navigation i {
    color: #c3c3c3;
    transition: 0.8s;
}
body.dark .menu .bar {
    background-color: #c3c3c3;
    transition: 0.8s;
}
body.dark .menu .bar:nth-child(1),
body.dark .menu .bar:nth-child(3) {
    background: var(--blue);
    transition: 0.8s;
}
body.dark .home-text .text-h4 {
    color: var(--blue);
    transition: 0.8s;
}
body.dark .home-text .text-h1 {
    color: #c3c3c3;
    transition: 0.8s;
}
body.dark .home-text p {
    color: #c3c3c3;
    transition: 0.8s;
}

body.dark .home-btn {
    background: var(--blue);
    color: var(--black);
    transition: 0.8s;
}
body.dark .home-btn:hover {
    background: rgb(20, 196, 219);
}